body {
  background-color: rgb(24, 11, 11);
  max-width: 350px;
  color: rgb(208, 204, 204);
  padding: 3% 0 0 5%;
}

header {
  margin: 7%;
  padding-bottom: 3%;
  font-style: italic;
}

.outcomeDiv {
  text-align: end;
  background-color: rgb(30, 17, 17);
  margin: 5%;
  padding: 5%;
  font-size: 25px;
  border-radius: 8px;
  box-shadow: inset 0 0 15px rgb(193, 193, 4);
  letter-spacing: 2px;
}

.outcomeDiv, body button {
  font-weight: 550;
  border: 1px solid transparent;
}

body button {
  color: white;
  height: 80px;
  font-size: 16px;
  transition: opacity 0.5s;
  border-radius: 40px;
  cursor: pointer;
}

.calBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.operators-btn {
  background-color: rgb(73, 66, 3); 
}

.upper-btn {
  background-color: rgb(46, 42, 39);
}

.numbers-btn {
  background-color: rgb(48, 18, 1);
}

.equal-btn {
  background-color: rgb(3, 34, 3);
}

body button:hover {
  opacity: 0.8;
}

body button:active {
  opacity: 0.6;
}
/*
.authorLink {
  text-align: end;
  padding: 5%;
  font-style: italic;
}*/