body {
  background-color: rgb(36, 2, 67);
  max-width: 290px;
  color: wheat;
}
body button {
  color: white;
  height: 70px;
  font-weight: 550;
  
}
.calBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  color: wheat;
}
.evalBtn {
  background-color: orangered;
  
}
.upBtn {
  background-color: rgb(88, 84, 79);
}
.valueBtn {
  background-color: rgb(15, 14, 14);
}