body {
  
  background-color: rgb(24, 11, 11);
  max-width: 350px;
  color: wheat;
}
body button {
  color: white;
  height: 80px;
  font-weight: 550;
  font-size: 16px;
  transition: opacity 0.5s;
  border: 1px solid transparent;
  border-radius: 40px;
  
}
.calBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  color: wheat;
}
.operators-btn {
  background-color: rgb(73, 66, 3);
  
}
.upper-btn {
  background-color: rgb(46, 42, 39);
}
.numbers-btn {
  background-color: rgb(48, 18, 1);
}
.equal-btn {
  background-color: rgb(3, 34, 3);
}
body button:hover {
  opacity: 0.8;
}
body button:active {
  opacity: 0.6;
}