body {
  background-color: rgb(14, 0, 27);
  max-width: 290px;
  color: wheat;
}
body button {
  color: white;
  height: 70px;
  font-weight: 550;
  
}
.calBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  color: wheat;
}
.operators-btn {
  background-color: rgb(149, 46, 8);
  
}
.upper-btn {
  background-color: rgb(81, 80, 78);
}
.numbers-btn {
  background-color: rgb(14, 12, 12);
}
.numbers-btn:hover, .operators-btn:hover, .upper-btn :hover {
  opacity: 0.7;
}